// Global styling for this template

body {
  @include body-font;
  padding-top: 54px;
  color: $white;
}
@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
  font-weight: 700;
  text-transform:none;
  color: $white;
}

h1 {
  font-size: 6rem;
  line-height: 5.5rem;
  text-align: center;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2rem;
  font-weight: 200;
}
h4 {
  font-weight: 200;
}

p.lead {
  font-size: 1.15rem;
  font-weight: 400;
}

.subheading {
  text-transform: uppercase;
  font-weight: 500;
  @include heading-font;
  font-size: 1.5rem;
}

.social-icons {
  a {
    display: inline-block;
    height: 3.5rem;
    width: 3.5rem;
    background-color: $gray-700;
    color: $white !important;
    border-radius: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3.5rem;
    margin-right: 1rem;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      background-color: $primary;
    }
  }
}

.dev-icons {
  font-size: 3rem;
  .list-inline-item i {
    &:hover {
      color: $primary;
    }
  }
}

.backgroundimg {
  background: url("/img/background.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100% 100%;
}
.quotes {
  background-color:#000000a1;
  .quotesTxt {
    justify-content: center; 
    display: flex; 
    padding: 40px; 
    flex-direction: column;
    max-width: 70%;
  }
}
.mainBackground {
  background-color:#495cbab8;
  .aboutMe {
    padding-top: 50px; 
    padding-right: 15px;
  }
}
.img {
  width: 450px;
  height: 550px;
  border-radius: 48%; 
  float: left;
  max-width: 100%;
  padding: 30px;
}
@media (max-width: 480px) {
  .img{
    width: 100px;
    height: 250px;
    float:left;
  }
  .imgContact{
    width: 150px;
    height: 150px;
  }
}
@media (max-width: 480px) {
  .textImage{
  flex-direction: column;
  justify-content: center;
  text-align: center justify;
  margin-left: auto;
  max-width: 100%;
  }
}

@media (max-width: 480px) {
  .aboutMeMobile{
    flex-direction: column;
    padding-top: 50px; 
  }
}

@media (max-width: 480px) {
  input[type=text], select {
    size: 20px;
  }

  input[type=email] {
    left: 100px;
    width: 150px;
  }
  label{
    right: 100px;
    top:200px;
  }
  // button[type=submit] {
  //   position: relative;
  //   top:100px;
  //   right: 400px;
  // }
  .textarea {
    cols:"30"
  }
}
@media (max-width: 480px) {
  .img2{
    // position: relative;
    // left:100px;
    // width: 10px;
    // height: 250px;
    width: 200px;
    height: 350px;
    float:left;
  }
}