section.resume-section {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
  .resume-item {
    .resume-content {}
    .resume-date {
      min-width: none;
    }
  }
}
@media (min-width: 992px) {
  section.resume-section {
    min-height: 80vh;
    width: 100%;
    .resume-item {
      .resume-date {
        min-width: 18rem;
      }
    }
  }
}
@media (min-width: 992px) {
  section.resume-section {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
  }
}
